spring:
  application:
    name: MiniKattKompis
  profiles:
    active: dev

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}       # Lägg in din riktiga Google Client ID
            client-secret: ${GOOGLE_CLIENT_SECRET} # Lägg in din riktiga Google Client Secret
            scope: profile,email
            redirect-uri: "http://localhost:8080/login/oauth2/code/google" # Fullständig URL för lokal testning
          facebook:
            client-id: ${FACEBOOK_CLIENT_ID}       # Lägg in din riktiga Facebook App ID
            client-secret: ${FACEBOOK_CLIENT_SECRET} # Lägg in din riktiga Facebook App Secret
            scope: public_profile,email
            redirect-uri: "http://localhost:8080/login/oauth2/code/facebook"
            client-name: Facebook
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://www.googleapis.com/oauth2/v4/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub
          facebook:
            authorization-uri: https://www.facebook.com/dialog/oauth
            token-uri: https://graph.facebook.com/oauth/access_token
            user-info-uri: https://graph.facebook.com/me?fields=id,name,email
            user-name-attribute: id

  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:
    hikari:
      maximum-pool-size: 10
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true

server:
  servlet:
    session:
      persistent: false
