spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: <DIN_GOOGLE_CLIENT_ID>
            client-secret: <DIN_GOOGLE_CLIENT_SECRET>
            scope: profile,email
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://www.googleapis.com/oauth2/v4/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub
